@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="https://yuml.me/assets/favicon/favicon-57-4b7192ffbd7222a23b5e9010edd724c8b48b1757f8a4bc639103f25017f11cd4.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>

        <script>
            $(document).ready(function(){
                $('.tooltipped').tooltip();
            });
        </script>

        <script>
            $(document).ready(function(){
                $('select').not('.disabled').formSelect();
            });
        </script>
    </body>
</html>
